body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

#webgl {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -999;
}

