.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(235, 235, 235);
    border-bottom: 3px solid black;
    width: 100%;
    padding-bottom: 10%;
}

.header,
img {
    max-width: 100%;
    vertical-align: bottom;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 0 25% 0 25%;
}