<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}
			<!-- タイトルを記述 -->
		{% endblock %}
	</title>
	{% block extra_links %}
	{% endblock %}
	{% if load_three_js %}
		<script async src="https://unpkg.com/es-module-shims@1.5.8/dist/es-module-shims.js"></script>
		<script type="importmap">
			{
			  "imports": {
				"three": "https://unpkg.com/three@v0.149.0/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@v0.149.0/examples/jsm/"
			  }
			}
		  </script>
	{% endif %}
</head>

<body>
	<header>
		<!-- ヘッダー内容を記述 -->
	</header>

	<main>
		{% block content %}
			<!-- ページ内容を記述 -->
		{% endblock %}
	</main>

	<footer>
		<!-- フッター内容を記述 -->
	</footer>

	{% block extra_scripts %}
		<!-- scriptタグを記述 -->
	{% endblock %}
</body>
</html>