{% extends "base.html" %}
{% block title %}
    編集ページ3
{% endblock %}
{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/editor3/style.css')}}">
{% endblock %}

{% block content %}
<div id="webGL"></div>
<div id="musicPlayer">
  <div>
      <input type="range" id="positionBar" min="0" max="100" value="0">
  </div>
  <div id="musicPlayerCol2">
      <input type="file" id="musicFile">
      <button id="playButton">再生</button>
      <button id="stopButton">停止</button>
      <input type="range" id="volumeBar" min="0" max="100" value="50">
  </div>
</div>

<select name="" id="objectSelector">
</select>
<button id="addObjectButton">エンティティ追加</button>

<select name="" id="entitySelector"></select>

<div id="UIOutoput"></div>
{% endblock %}
{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/editor3/main.js') }}" type="module"></script>
{% endblock %}
