{% extends "base.html" %}

{% block title %}
会員登録
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/entry/entry.css')}}">
{% endblock %}

{% block content %}

<h1>ユーザー登録</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="/entryCheck" method="POST">
    <label for="email">メールアドレス:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="password">パスワード:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="password_check">パスワード（確認）:</label><br>
    <input type="password" id="password_check" name="password_check" required><br>
    <input type="submit" value="登録">
</form>


{% endblock %}

{% block extra_scripts %}
{% endblock %}