{% extends "base.html" %}

{% block title %}
会員登録
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/entry/entry.css')}}">
{% endblock %}

{% block content %}

<form action="/entryCheck" method="post">
    <div class="entry">
        <h1>新規会員登録</h1>
        <p class="error-msg">{{err.msg}}</p>
        <p class="error-msg">{{err.mail}}</p>
        <p class="error-msg">{{err.pas}}</p>
        <p class="error-msg">{{err.check}}</p>
        <div class="textArea">
            <label>メールアドレス</label>
            <input type="email" name="mail" class="textbox" value="{{result.mail}}">
        </div>
        <div class="textArea">
            <label>パスワード</label>
            <input type="password" name="pas" class="textbox">
        </div>
        <div class="textArea">
            <label>パスワード(再入力)</label>
            <input type="password" name="check" class="textbox">
        </div>

        <div class="box">
            <input type="submit" value="登　録">
        </div>
        <div class="link-container">
            <p>アカウントをお持ちの方は<a href="/login">こちら</a></p>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_scripts %}
{% endblock %}