{% extends "base.html" %}

{% block title %}
プロフィール編集
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index/style.css')}}">
{% endblock %}

{% block content %}
<form action="/profEditCheck" method="post">
    <div class="textArea">
        <label>ユーザ名</label><br>
        <input type="text" name="username" value="{{result.username}}">
    </div>
    <div class="textArea">
        <label>自己紹介</label><br>
        <input type="text" name="introduction" value="{{result.introduction}}">
    </div>
    <!-- <div class="textArea">
        <label>リンク</label><br>
        <h2>XのID</h2>
        <input type="text" name="twitterid" value="{{result.twitterid}}">
    </div> -->
    <div class="textArea">
        <label>アカウントの公開設定</label><br>
        <input type="radio" name="visibility" value="public" {% if result.visibility == 'public' or result.visibility is none %}checked{% endif %}>公開
        <input type="radio" name="visibility" value="private" {% if result.visibility == 'private' %}checked{% endif %}>非公開
    </div>
    <br>
    <input type="submit" value="登録" class="button">
</form>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
