{% extends "base.html" %}

{% block title %}
公開設定
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/pufterSetting/pufterSetting.css')}}">
{% endblock %}

{% block content %}

<form action="{{ url_for('pufterSettingComplete.pufterSettingComplete', id=id) }}" method="post" enctype="multipart/form-data">
    <div class="main">
    <p>公開しますか？</p>
    <div class="open">
        <label>プロジェクトの公開設定</label><br>
        <input type="radio" class="button1" name="visibility" value="public" id="public" {% if
            result.visibility=='public' %}checked{% endif %}>
        <label for="public">公開</label>
        <input type="radio" class="button1" name="visibility" value="private" id="private" {% if
            result.visibility=='private' or result.visibility is none %}checked{% endif %}>
        <label for="private">非公開</label>
    </div>
    <div class="box">
        <input type="submit" value="登録" class="button">
    </div>
    </div>
</form>

{% endblock %}

{% block extra_scripts %}
{% endblock %}