{% extends "base.html" %}

{% block title %}
メール送信
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/resetPasswordCheck/resetPasswordCheck.css')}}">
{% endblock %}

{% block content %}
<div class="changePass">
    <h2>メールを送信しました</h2>

    <!-- <div class="login">
            <a href="/login" class="button">ログイン</a>
        </div> -->
</div>
<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script src="{{ url_for('static', filename='js/front/login.js') }}"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}