{% extends "base.html" %}

{% block title %}
パスワードリセット
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/changePass/changePass.css')}}">
{% endblock %}

{% block content %}

<form action="/resetPasswordCheck" method="post">
    <div class="changePass">
        <h3>パスワードリセットするメールアドレスを入力してください。</h3>
        <p class="error-msg">{{err.msg}}</p>
        <p class="error-msg">{{err.email}}</p>
        <div class="textArea">
            <label>メールアドレス</label>
            <input type="email" name="email" class="textbox" value="{{result.mail}}">
            
        </div>

        <div class="box">
            <input type="submit" value="送信">
        </div>
    </div>
</form>
<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script src="{{ url_for('static', filename='js/front/login.js') }}"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}