{% extends "base.html" %}

{% block title %}
パスワードリセット
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/resetPassword/resetPassword.css')}}">
{% endblock %}

{% block content %}

<form action="{{ url_for('resetPassword.resetPassword', token=token) }}" method="POST">
    <div class="changePass">
        <h1>パスワードの変更</h1>
        {% if err %}
        <div>
            {% for key, value in err.items() %}
            <p>{{ value }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <label>新しいパスワード</label>
        <input type="password" name="new_password" placeholder="" required>
        <label>新しいパスワードの確認</label>
        <input type="password" name="confirm_password" placeholder="" required>
        <div class="box">
            <button type="submit">パスワードをリセット</button>
        </div>
    </div>
</form>

<!-- 07/02追記：inputが入力できなくなる -->
<canvas class="background"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script src="{{ url_for('static', filename='js/front/login.js') }}"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}