/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* フォーム外の背景色 */
    margin: 0;
    padding: 0;
}

/* h2要素のスタイル */
h2 {
    text-align: center;
    margin-top: 0;
    /* 上部の余白を削減 */
    margin-bottom: 40px;
}

/* フォームのスタイル */
.changePass {
    background-color: #fff;
    /* フォームの背景色 */
    max-width: 550px;
    /* 幅を広くする */
    margin: 120px auto;
    /* フォームの位置を調整 */
    padding: 60px;
    /* 余白を増やす */
    border-radius: 10px;
    /* 角丸を大きくする */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    /* 相対配置を設定 */
    z-index: 1;
    opacity: 0.93;
}

/* ログインリンクのスタイル */
.login {
    text-align: center;
    margin-top: 20px;
}

.login .button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 12px 20px;
    /* ボタンの大きさを調整 */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login .button:hover {
    background-color: #333;
    /* ホバー時の色 */
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
.log{
    display: none;
}